/* position and dimension the body so child elements can be dimensioned */
body{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0%;
    background: whitesmoke;
    background-size: cover;
}

/* give theme-packed background to only home page */
#index_page{
    background-image: url("../images/money.jpg");
}

/*display logo and motto adjacently as cells*/
header{
    display: table;
    background: rebeccapurple;
    width: 100%;
}

#logo{
    position: relative;
    display: table-cell;
    /* text-align: center; */
    width: 8%;
}

#motto{
    display: table-cell;
    padding: 1%;
    text-align: right;
}

#motto p{
    font-size: 200%;
    color: red;
    margin: 0% 2%;
}

#motto span{
    font-size: 100%;
    color: white;
    margin: 0% 2%;
}

/* position and size the navigation bar */
nav{
    padding: 1%;
    text-align: end;
    background-image: linear-gradient(to right, rgb(246, 215, 246), plum);
}

/* hightlight navigation tabs on hover */
nav tab:hover{
    background: rgb(243, 223, 243);
}

/* size nav tabs to get desired backgroun size/shape*/
nav tab{
    padding: .6% .6% 1.1% .6%;
    margin: .5%;
}

/* remove underlining of nav links */
nav tab a{
    text-decoration: none;
}

/* style the page menu */
#menu{
    width: 20%;
    background-image: linear-gradient(rgb(246, 215, 246), whitesmoke);
    float: left;
    box-shadow: 3px 5px 3px 1px grey;
    /* make menu ovwerlap other content, especially when expanding on small screens */
    z-index: 3;
}

#menu a{
    margin-top: 4%;
    padding: .5% 2%;
    text-decoration: none;
    font-style: italic;
}

/* highlight menu item on hover */
#menu a:hover{
    background: rgb(190, 114, 224);
    color: white;
    font-style: normal;
}

/*position the main window*/
#main{
    position: relative;
    width: 80%;
    height: 75vh;
    float: right;
    margin: 0%;
    display: block;
    z-index: -1;
}

/* center page headings */
#main h1{
    margin-left: 3%;
}

/* style the menu icon for small screens */
#iconcontainer{
    cursor: pointer;
    width: 20px;
    padding: 0;
    /* position icon in the center towards the bottom of the page */
    position: fixed;
    left: calc(50vw - 10px);
    top: 85%;
    /* icon overllap background */
    z-index: 2;
    /* hide icon by default(large screens) */
    display: none;
}

/* position and dimension icon */
.iconrow{
    margin: -10px 0px;
}

/*style indiviual dots in icon*/
.iconrow .icondot{
    width: 6px;
    height: 6px;
    margin: 0 -1px;
    display: inline-block;
    background: black;
    border-radius: 50%;
    opacity: .8;
}

/* style expansion humburger icon for smaller screens*/
.more{
   background: purple;
   height: 3px;
   width: 10%;
   margin: 2px 45%;
   border-radius: 1.5px;
   opacity: .7;
}

/*space the expansion icon from top by giving margin to first bar*/
#more{
    margin-top: 10px;
}

/* hide all optional elements to be displayed by javascript on specific event liigger or by css for smaller screens */
.hidden{
    display: none;
}

footer{
    padding: 1.5% 0;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background-image: linear-gradient(rebeccapurple, rgb(80, 0, 80));
    color: white;
    /* ensure footer is not overflown by any previous content */
    z-index: 2;
}

footer span{
    margin-left: 2%;
}

/* display welcome add in home page*/
#welcome{
    position: fixed;
    /* center the welcome message */
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: yellow;
    font-size: 400%;
    font-weight: bolder;
    font-family: cursive;
}

/* hide all dynamically loaded, page-specific elements by default to avoid flash on initial loading then selective dynamic hidding(since body load event is used to select theseelementsand will only finally be hidden/displayed after the page loads) */
#auth > *, #menu > *, .hidden{
    display: none;
}

/* hide default blue outline on focus for entire document*/
:focus{
    outline: none;
}

/* style signup/signin (authentication-authform) page */
/* align form in center of containing div */
.auth{
    position: relative;
    width: 60%;
    top: 50%;
    left: 37.5%;
    transform: translate(-50%, -50%);
    padding: 1% 0;
    z-index: 1;
    display: none;
}

.auth input, .auth select{
    width: 92%;
    margin: .5% 4%;
    display: block;
    text-indent: 2%;
    line-height: 1.5;
    border-radius: 10px;
    border: solid .5px transparent;
}

.auth select{
    width: 15%;
    display: inline;
    margin-right: 25%;
    border-radius: 0%;
}

/* style fiel names */
.auth label{
    margin-left: 4%;
    text-transform: capitalize;
    color: yellow;
    font-weight: bolder;
    z-index: 10;
    font-family: cursive;
}

.auth button{
    border-radius: 15px;
    border: none;
    padding: .5% 0;
    background: rgb(0, 0, 126);
    color: white;
    /* align buttons horizontally */
    width: 25%;
    margin: .2% 4%;
    cursor: pointer;
    display: block;
}

/*add visual feedback for button click*/
button:active{
    box-shadow: inset 1px 1px 1px 1px, inset -2px -2px 5px 1px;
}

/* mark required form fields */
.auth span{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* create pseudo element to give form a liansparent background */
.auth::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background:rebeccapurple;
    opacity: .3;
    /* give background an empty content so as to be displayed */
    content: '';
    /* keep liansparency in the background */
    z-index: -1;
    border-radius: 20px;
}

/* style confirm password error display area*/
#confirm{
    background: white;
    position: fixed;
    left: 50%;
    transform: lianslateX(-50%)
}

/* define the core page content container position and style */
#main_main{
    background: white;
    position: relative;
    width: calc(75% - 1px);
    left: 0%;
    margin-top: 0%;
    display: block;
    float: left;
    margin-bottom: 0%;
    padding-bottom: 5%;
    border-right: solid 1px lightgrey;
}

/* define the user details layout and looks */
#user_profile{
    /* background-image: linear-gradient(to top, indigo, white); */
    width: 25%;
    float: right;
    height: 100%;
    position: relative;
    text-align: center;
    text-transform: capitalize;
}

/* give magin to user profile content instead of padding */
#user_profile > *{
    margin: 2%
}

/* position profile picture */
#picture{
    position: absolute;
    right: 50%;
    top: 2%;
    transform: translateX(50%);
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#picture img{
    border-radius: 50%;
}

/* define loans listing table */
/* input box size and styling */
.searchbox{
    padding: .8% 0%;
    margin: 2.5% .5% 2.5%;
    border-radius: 6px;
    width: 30%;
    text-indent: 2ch;
    border: solid 1px gray;
}

/* styles for actual table */
.list{
    position: relative;
    width: 90%;
    padding: 1% 0;
    list-style: none;
    background: mintcream;
    margin: 0% auto 0 auto;
}

/* remove unerlining from loan names and ids */
.list a{
    text-decoration: none;
}

hr{
    margin: 0%
}

/* improve visual experience by alternatin the background of scuccessive list items */
.list li:nth-child(even), #loandetail dl dt:nth-child(even){
    background-color: rgb(199, 228, 253);
}

/* higlight items on hover. Should come after the altenating background declaration to take effect on rows with a background */
.list li:hover, .dashboard:hover{
    background: rgb(200, 134, 216);
    cursor: pointer;
}

/* search button */
.search{
    background: steelblue;
    padding: .5%;
    border-radius: 6px;
    border: none;
}

.search a{
    text-decoration: none;
    color: white;
}

/* center search buttons vertically */
#controls{
    /* position: relative; */
    margin: 2% 1%;
    float: right;
}

/* Loan form styles */
#loanform, #loandetail{
    position: relative;
    width: 98%;
    margin: 0% 1%;
    margin-bottom: 10%;
}

#loanform fieldset{
    position: inherit;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 95%;
    margin: 0% auto;
    border-radius: 10px;
    border-width: .7px;
}

#loanform fieldset label{
    display: inline-block;
    width: 45%;
    text-align: left;
    margin: .1% 2% 0% 2%;
}

#loanform input{
    border: transparent;
    border-bottom: solid 1px;
    width: 100%;
}

#loanform select{
    width: 100%;
}

/* size and position submit and reset buttons */
#loanform .submit{
    max-width: 40%;
    margin: 1%;
    border-radius: 10px;
    border: none;
    padding: 1%;
}

/* blink buttons on click for visual feedback */
#loanform .submit:active, .dashboard:active{
    box-shadow: 2px 2px 5px 2px inset white, -2px -2px 5px 2px inset white;
}

#submit{
    background: blue;
    color: white;
}

#reset{
    background: yellow;
}

/* align buttons inthe middle of the table width span */
#btns{
    text-align: center;
}

/* loan detail page styles */
/* display installments in green font */
.green{
    color: green;
}

/* display outsanding balance in red font */
.red, #balance{
    color: red;
}

/* display initial amount in blue */
.blue{
    color: blue;
}

/* style page heading */
#main_main h3, #main_main h4{
    text-align: center;
    font-weight: 550;
}

/* general font for section */
#main_main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* detail page action menu icon-will only be used when admin viewing loan detail to verify user, approve/reject loan credit or debit account */
#actions{
    float: left;
    margin: 0 2%;
}

#actions div{
    height: 2px;
    width: 20px;
    background: black;
    margin: 2px;
    opacity: .8;
    content: '';
}

/* admin profile page dashboard */
.dashboard{
    border: none;
    width: 44%;
    margin: 1% 2.5% 0% 2.5%;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    padding: 3% 0;
}

/* show magnified figures of records in various categories */
.dashboard span{
    font-size: 150%;
    font-family: cursive;
    font-weight: bolder;
}

/* define colors and backgrounds */
._yellow{
    background: yellow
}
._red{
    background: red
}
._lightblue{
    background: lightblue
}
._lightgreen{
    background: lightgreen
}
._aliceblue{
    background: slateblue
}
._navy{
    background: navy
}
._green{
    background: green;
}
/* define font colors */
.yellow{
    color: orange;
}
.navy{
    color: navy
}
.white{
    color: white
}
.lightgreen{
    color: green;
}
.lightblue{
    color: brown;
}
.aliceblue{
    color: purple;
}

/* loan approval page */
#loandetail{
    background: mintcream;
}

/* position user photo */
#loandetail #pic{
    float: right;
    margin: 3%;
    height: 64px;
    margin-top: 0%;
}

/* style the buttons */
#loandetail button{
    width: 25%;
    float: right;
    padding: 1% 0;
    margin: 1%;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 15px 5px inset black;
    cursor: pointer
}

#loandetail button:active{
    box-shadow: 2px 2px 15px 5px inset rgb(192, 186, 186);
}

#loandetail dt{
    margin: .2% 0%;
    padding-left: 1%;
}

#loandetail dt span{
    font-style: oblique;
}

#loandetail dl{
    padding: 0 0 1% 0%;
}

#loandetail h4{
    background: rgb(159, 146, 246);
    color: aliceblue;
    margin: 0 auto 1%;;
}

/* dive to diplay activity feedback messages */
#msg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;
    font-weight: bolder;
    font-size: 300%;
    font-family: cursive;
    padding: 5%;
    border-radius: 15px;
}

h1, h3{
    text-transform: capitalize;
}

/* style email displays */
.email, #email{
    text-decoration-line: underline;
    color: blue;
}

/* style outstanding balance */
#tot{
    color: blue;
}

/* position and style the signout dialogue box */
#signoutt{
    position: fixed;
    right: .1%;
    margin-top: 0%;
    text-align: center;
    padding: 2%;
    font-family: cursive;
    display: none;
    z-index: 1;
    color: navy;
    font-size: 120%;
}

#signoutt button{
    min-width: 30%;
    margin: 2%;
    background: navy;
    color: white;
    padding: 2%;
    border-radius: 5px;
    border: none
}

#signoutt a{
    text-decoration: none;
    color: white
}

#signoutt::after{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(190, 186, 186);
    opacity: .6;
    content: '';
    z-index: -1;
    top: 0%;
    right: 0%;
}

button:focus{
    cursor: pointer;
}

/* repeat password error display */
#repeat_error{
    padding: 2%;
    background: yellow;
    color: red;
    display: none;
    border-radius: 10px;
}
